{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Smile.</h1>
    <h2>Everyone gets a free megabyte.</h2>
    <br/>
    <br/>
    <br/>

    <a href="#" class="btn btn-lg btn-warning">Sign up for Clickr</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="#" class="btn btn-lg btn-info">Sign In</a>
</div>
{% endblock %}