{% extends "base.html" %}
{% block content %}
<h1>Photos</h1>

{% for i in range(10) %}
    <div class="photo-md" style="padding: 2px; margin: 2px; float: left;">
        <a href="/photos/{{i}}"><img class="img-thumbnail" src="http://www.placehold.it/200x200"></img></a>
    </div>
{% endfor %}

{% endblock %}