{% extends "base.html" %}
{% block content %}
<h1>Upload</h1>
<form role="form" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title">
    <p class="help-block">Give a name to the photo that you are uploading.</p>
  </div>

  <div class="form-group">
    <label for="photo">Photo</label>
    <input type="file" id="photo" name="photo">
    <p class="help-block">Select the photo to upload.</p>
  </div>


  <button type="submit" class="btn btn-default">Submit</button>

</form>
{% endblock %}