{% extends "base.html" %}
{% block content %}
<h1>Photos</h1>

{% for photo in photos %}
    <div class="photo-md" style="padding: 2px; margin: 2px; float: left;">
        <a href="{{ url_for('photopage', photo_id=photo.id) }}"><img class="img-thumbnail" src="{{ url_for('photo_image', photo_id=photo.id) }}" style="max-height: 200px;"/></a>
    </div>
{% endfor %}

{% endblock %}