{% extends "base.html" %}
{% block content %}
<h1>Log In</h1>
<form role="form" method="POST">
  {% if name %}
    <div class="alert alert-danger">
        Login failed.
    </div>
  {% endif %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
  </div>

  <button type="submit" class="btn btn-default">Log In</button>

</form>
{% endblock %}