{% extends "base.html" %}
{% block content %}
<h1>{{photo.title}}</h1>
<img src="{{url_for('photo_image', photo_id=photo.id)}}"/>

<div>
Owner: 
    {% if photo.owner %}
        {{photo.owner.name}}
    {% else %}
        None
    {% endif %}
</div>

{% endblock %}