{% extends "base.html" %}
{% block content %}
<h1>Sign Up</h1>
  {% if user %}
    <div class="alert alert-danger">
        There is already a user with that user name.
    </div>
  {% endif %}

<form role="form" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>

  <button type="submit" class="btn btn-default">Sign Up</button>

</form>
{% endblock %}