{% extends "base.html" %}
{% block content %}
  <form method="GET" action="/add">
    X: <input type="text" name="x" /><br/>
    Y: <input type="text" name="y" /><br/>
    <input type="submit" name="action" value="Add"/>
  </form>
{% endblock %}