{% extends "base.html" %}
{% block content %}
  <form method="POST" action="/login">
    <input type="text" name="name" /><br/>
    <input type="submit" name="" value="Login"/>
  </form>
{% endblock %}